This is the first class notebook (MSSM Quant tools)

In [5]:
#+,-,*,/,**,%-Reminder
print(5+5)
print(5-5)
print(5*5)
print(5/5)
print(5**5)
print(5%5)

10
0
25
1.0
3125
0

In [10]:
my_var = 5.05

In [7]:
print(my_var)

5

In [11]:
type(my_var)

float

In [12]:
first_name = "Tigran"
last_name = "Hovhannisyan"
type(first_name)

str

In [18]:
full_name = first_name + ' '+ last_name

In [19]:
print(full_name)

Tigran Hovhannisyan

In [21]:
float("5")

5.0

In [22]:
int(5.5)

5

In [24]:
my_list=[first_name,last_name,my_var]
print(my_list)

['Tigran', 'Hovhannisyan', 5.05]

In [25]:
type(my_list)

list

In [35]:
names = ["John","Jack","James","Jimmy"]

In [36]:
names[0]

'John'

In [37]:
names[-1]

'Jimmy'

In [38]:
names[1:3]

['Jack', 'James']

In [39]:
len(names)

4

In [40]:
names.append("Joroh")
#Adding names -append

In [41]:
print(names)

['John', 'Jack', 'James', 'Jimmy', 'Joroh']

In [42]:
names.sort()
#Alphabetical Order-sort

In [43]:
print(names)

['Jack', 'James', 'Jimmy', 'John', 'Joroh']

In [45]:
full_name[0]

'T'

In [47]:
full_name.upper()
#Upper-Up,Lower-Low

'TIGRAN HOVHANNISYAN'

In [49]:
full_name.find("H")

7

In [50]:
#print(),len(),type(),append()
#find(),sort(),upper()

In [53]:
range(1,10,2) 
#range(start,end,step)

range(1, 10, 2)

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
for i in names:
    print(i)

Jack
James
Jimmy
John
Joroh

In [64]:
for i in names:
    print("Super" + " " + i)

Super Jack
Super James
Super Jimmy
Super John
Super Joroh
Super Super

In [65]:
for i in range(1,10,2):
    print(i**3)

1
27
125
343
729

In [71]:
names_up = []
for i in names:
   names_up.append(i.upper())

In [72]:
print(names_up)

['JACK', 'JAMES', 'JIMMY', 'JOHN', 'JOROH', 'SUPER']

In [76]:
i=1
while i<10:
    print(i**3)
    i = i+2

1
27
125
343
729

In [85]:
full_names = ['John', 'Jack', 'James', 'Jimmy', 'Joroh',
              'Kate','Karen','Kim','Kristine','Kathred']

In [79]:
if 3>3:
    print('Greater')
elif 3==3:
    print('Equal')
else:
    print('Smaller')

Equal

In [82]:
name = 'Jonathan'
if name[0] == 'J':
    print("Male")
elif name[0]=="K":
    print("Female")
else:
    print("I donot know")

Male

In [86]:
for i in full_names:
    if i[0]=='J':
        print("Male")
    elif i[0]=="K":
        print("Female")
    else:
        print("I donot know")

Male
Male
Male
Male
Male
Female
Female
Female
Female
Female

In [87]:
def sq(num):
    return num**2

In [88]:
sq(5)

25

In [99]:
def superify(str):
    return "Super"+ " " + str

In [100]:
superify("John")

'Super John'

In [101]:
def gender_detector(name):
    if name[0]=="J":
        return "Male"
    elif  name[0]=="K":
        return "Female"
    else:
        return "I donot know"

In [103]:
gender_detector("Justin")

'Male'

In [104]:
import numpy

In [105]:
numpy.sqrt(25)

5.0

In [106]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!