# TA Session Exercises

In [5]:
# Calculate the remainder of 17 when it is divided by 3
# Create its variable and identify the type
remainder=17%3
type(remainder)
print(remainder)

2

-------

In [2]:
# Write separate variables for your address details: street number, street name, appartment number all in small letters
# Find out the types
# Make the first letter of your street name capital and save
# Print your full address in the following format: "72 Hanrapetutyan, apt. 72"
# Add * to the address (in the end)
# Determine the order number of *

In [6]:
strnum=72
strname= "hanrapetutyan"
strapt= 72

In [7]:
type(strnum)

int

In [8]:
type(strname)

str

In [9]:
type(strapt)

int

In [11]:
strname.capitalize()

'Hanrapetutyan'

In [17]:
strname = strname.capitalize()

In [18]:
print(strname)

Hanrapetutyan

In [22]:
full = str(strnum) + " " + strname + "," + " apt. " + str(strapt)
print(full)

72 Hanrapetutyan, apt. 72

In [23]:
full = full + "*"
print(full)

72 Hanrapetutyan, apt. 72*

In [24]:
full.find("*")

25

In [3]:
# Write down a list of 4 countries 
# Put them in the alphabetical order
# Add 1 more country
# Again put in the alphabetical order
# See what the length of the list is
# Print out the very first country
# Print the 4rd letter of the middle country
# Print the countries vertically
# Add continent Europe for each country

In [27]:
list = ["Armenia","Georgia","Russia","France"]
print(list)

['Armenia', 'Georgia', 'Russia', 'France']

In [28]:
list.sort()
print(list)

['Armenia', 'France', 'Georgia', 'Russia']

In [29]:
list.append("Italy")
print(list)

['Armenia', 'France', 'Georgia', 'Russia', 'Italy']

In [30]:
list.sort()
print(list)

['Armenia', 'France', 'Georgia', 'Italy', 'Russia']

In [31]:
len(list)

5

---------

In [32]:
list[0]

'Armenia'

In [33]:
list[2][3]

'r'

In [34]:
for i in list:
    print(i)

Armenia
France
Georgia
Italy
Russia

In [37]:
for i in list:
    print(i +" Europe")

Armenia Europe
France Europe
Georgia Europe
Italy Europe
Russia Europe

In [ ]:
# Write a program which will find all even numbers between 100 and 200 (both included) 
# that are divisible by 4 and not divisibly by 6

In [43]:
list=[]
for i in range(100,201,2):
    if i%4 and i%6!=0:
        list.append(i)
print(list)

[106, 110, 118, 122, 130, 134, 142, 146, 154, 158, 166, 170, 178, 182, 190, 194]

-----------

In [5]:
# Write a program that will let you know that ticket is $15 for people aged 18+, $10 for people aged 6 to 18 and if you are
# 5 or younger, you can't watch a football game.

--------

In [46]:
age = 4
if age>=18:
    print("The ticket is 15$")
elif 6<=age<18:
     print("The ticket is 10$")
else:
    print("You can not wath football game")

You can not wath football game

In [6]:
# Define a function to greet a person!

In [48]:
def greet(name):
    print("Hello,"+ name + ".Good Morning!")

----------

In [50]:
greet("Tigran")

Hello,Tigran.Good Morning!

In [7]:
# Define a function that will calculate the absolute value!

In [52]:
def absvalue(n):
    if n>=0:
        return n
    else:
        return -n

In [54]:
absvalue(4)

4


# Done!